extends layout

block content
    p hello there last test today - laptop - cs424
    table
        tbody
            tr
                th ID
                th Car reg plate
                th Timestamp
                th Valid permit
                th X coord
                th Y coord
            each user in car_data
                td=user.id
                td=user.car_reg
                td=user.date
                td=user.valid_permit
                td=user.x_coord
                td=user.y_coord
                tr

